* {
    margin: 0;
    padding: 0;
}

body {
 background-color: #050505;
}
.main-title{
    color: #fff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.image{
    position: relative;
    position: relative;
    left: 800px;
}
.main-image{
    width: 50%;
}
.screen-title{
    color: #e0ff65;
    font-size: 200px;
}
.home-screen{
    display: flex;
    position: absolute;
    top: 250px;
}
.lorem-p{
    position: absolute;
    top: 500px;
}
span{
    color: #e0ff65;
}
.subscribe{
    color: #fff;
    text-align: center;
    margin-top: 150px;
    font-size: 70px;
}
.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

form {
    width: 100%;
    max-width: 300px; 
    display: flex;
    flex-direction: column;
}


label {
    margin: 10px 0;
    color: white;
}

input {
    border: 1px solid white;
    padding: 5px;
    border: 1px solid white; 
    border-radius: 3px;
    background-color: black;
    height: 50px;
}

.sign-up {
    background: #E0FF65;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 50%;
}
 .footer-text{
    text-align: center;
    margin-top: 250px;
    margin-left: 5%;
    color: white;
}
.catalogue-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalogue-images-1, .catalogue-images-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-catalogue-1{
    width: 70%;
    height: 25%;
    margin: 50px;
}
.text-catalogue, .price{
    color: #fff;
    position: relative;
    right: 250px;
    bottom: 100px;
    top: -30px;
    left: -190px;
}
.women-catalogue{
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-style: bold;
}
 .catalogue-2{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.catalogue-images-22, .catalogue-images-33{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.text-catalogue, .price{
    color: #fff;
    position: relative;
    right: 250px;
    bottom: 100px;
    top: -30px;
    left: -190px;
}
.men-catalogue{
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-style: bold;
}
.image-catalogue-2{
    width: 90%;
    height: 25%;
    margin: 50px;
}
.imgg{
    height: 650px;
}
.imgs{
    height: 730px;
}
.text-catalogue-3{
    color: #fff;
    position: relative;
    right: 250px;
    bottom: 100px;
    top: -30px;
    left: -150px;
}
.price-3{
    color: #fff;
    position: relative;
    right: 250px;
    bottom: 100px;
    top: -30px;
    left: -150px;
}
.reviews{
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
.review-1 {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.review-1 .review-text {
    color: #fff;
}

.review-text{
    margin-top: 50px;
    position: relative;
    right: 70px;
}
.rev-1-image{
    width: 100px;
    margin-right: 10px;
}
.sub{
    color: black;
    background-color: #E0FF65;
    margin-left: 445px;
    width: 10%;
    height: 50px;
}
.faq-button{
    color: #fff;
    background-color: #3E3F3C;
    width: 290px;
    height: 30px;
    margin-top: 10px;
}
p{
    color: #fff;
}
.wrapper{
    max-width: 75%;
    margin: auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper > p, .wrapper > h1{
    text-align: center;
    margin: 24px 0;
}
.pannel{
    display: none;
}
.faq-header{
    color: #E0FF65;
}
nav {
    background:#000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    transition: 0.2s ease;
  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  ul {
    list-style-type: none;
    text-align: right;
    padding-right: 90px;
  }
  
  li {
    display: inline;
    margin-right: 50px;
  }
  
  li a {
    text-decoration: none;
    color: white;
  }
  header {
    background-color: #000;
    height: 80px;
  }
@media (max-width: 800px){
    .menu-desktop {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        padding: 10px 0;
        z-index: 1;
      }
    
      .menu-desktop.active {
        display: flex;
      }
    
      .menu-toggle {
        display: flex;
      }
    .main-image{
        display: none;
    }
    .home-screen{
        display: block;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.5rem;
        position: relative;
    }
    .screen-title{
        font-size: 5rem;
    }
    .lorem-p{
        position: relative;
        top: 0;
    }
    .review-1 {
        position: relative;
        top: 700px;
        margin-left: 70px;
        display: flex;
        justify-content: center;
        top: 90px;
    }
    .rev-1-image{
        display: none;
    }
    .footer{
        position: absolute;
        top: 400px;
        margin-top: 1000px;
        text-align: center;
        right: 150px;
        margin-left: 100px;
    }
    .wrapper{
        position: absolute;
        top: 500px;
        margin-top: 800px;
        margin-left: 100px;
    }
    .reviews{
        margin-top: 250px;
        font-size: 1.5rem;
    }
    .sub{
        font-size: 0.5rem;
        position: relative;
        top: 100px;
        right: 380px;
        width: 50%;
    }
    .catalogue-images-1{
        margin-left: 50px;
    }
    .text-catalogue, .price{
        font-size: 0.5rem;
        margin-left: 250px;
    }
    .imgg{
        height: 300px;
    }
    .image-catalogue-2{
        width: 50%;
        display: flex;
    }
    .imgs{
        height: 236px;
    }
    .catalogue-images-22, .catalogue-images-33{
       display: flex;
        justify-content: space-evenly;
    }
    .image-22{
        margin-left: 50px;
    }
    .image-catalogue-2{
        height: 236px;
    }
    .image-catalogue-1{
        width: 143px;
        height: 236px;
    }
    .text-catalogue-3, .price-3{
        font-size: 0.5rem;
        margin-left: 200px;
    }
    .fa-solid.fa-bars{
        display: block;
        margin-left: 250px;
    }
    ul.linken li a{
        display: none;
        color: #fff;
        background-color: #fff;
    }
    div.links{
        color: #fff;
    }
    } 

input{
    color: #fff;
}
